# This is a basic workflow, without the standard Skyline Quality Gate. It serves as a start and an example that can be extended as required.
# Important: Every change to the master or main branch will upload a new package to the Catalog using a new prerelease version.
# A stable release can be done by creating a tag or a GitHub Release.


name: Build Solution

on:
  push:
    branches: [ "master", "main" ]
    tags:
      - "[0-9]+.[0-9]+.[0-9]+.[0-9]+"
      - "[0-9]+.[0-9]+.[0-9]+.[0-9]+-**"
      - "[0-9]+.[0-9]+.[0-9]+"
      - "[0-9]+.[0-9]+.[0-9]+-**"
    
      # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Setup .NET Core
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '8.0.x'

    - name: Test
      run: dotnet test -c Release

    - name: Rebuild Solution
      run: |
        dotnet clean *.sln -c Release
        dotnet build *.sln -c Release
